:root {
  /* 使用root伪类 声明全局css变量 */
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  /* 清除全局margin和padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7f6;
  font-family: sans-serif;
  display: flex;
  /* 主轴元素居中 */
  justify-content: center;
  /* 副轴元素居中 */
  align-items: center;
  /* 视口高度100% */
  height: 100vh;
}

.container {
  /* 文字居中 */
  text-align: center;
}

.progress-container {
  display: flex;
  /* 两端对齐, 项目之间的间隔都相等 */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 350px;
  /* 子绝父相 */
  position: relative;
}


/* 通过伪元素定义灰色的底线 */
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  /* margin-top: -2px; */
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 0%;
  transition: width 0.3s ease;
  z-index: -1;
}

.circle {
  background-color: #fff;
  color: #999;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  transition: border-color 0.3s ease;
}

.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  border-radius: 5px;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  font-size: 14px;
  margin: 5px;
}

.btn:active {
  /* 鼠标点击后缩小为原来的98% */
  transform: scale(0.98);
}

.btn:focus {
  /* 清除按钮轮廓 */
  outline: 0;
}

/* 表示被禁用 */
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
